name: SPFx CI CD

on:
  push:
    branches:
      - psaction

env:
  packageName: react-page-navigator.sppkg

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.2
      with:
        node-version: 10.x

    - name: Install dependencies
      run: npm ci
    
    - name: Build solution
      run: gulp build
      
    - name: Bundle and package
      run: |
        gulp bundle --ship
        gulp package-solution --ship
        
    - name: Upload Build Package
      uses: actions/upload-artifact@v2
      with:
        name: packageFile
        path: sharepoint/solution/${{ env.packageName }}

  deploy:
    runs-on: windows-latest
    needs: [build]
    env:
      siteUrl: https://in8aakbh.sharepoint.com/sites/AppIndex

    steps:

    - name: Download pacakge (sppkg file)
      uses: actions/download-artifact@v1
      with:
        name: packageFile

    - name: Deploy PnP PowerShell
      id: PnPPowerShellDeploy
      uses: aakashbhardwaj619/action-pnp-powershell-deploy@master
      with:
        SHAREPOINT_SITE_URL: ${{ env.siteUrl }}
        ADMIN_USERNAME: ${{ secrets.adminUsername }}
        ADMIN_PASSWORD: ${{ secrets.adminPassword }}
        APP_FILE_PATH: packageFile/${{ env.packageName }}
        SKIP_FEATURE_DEPLOYMENT : true 
        OVERWRITE: true
