name: SPFx CI CD

on:
  push:
    branches:
      - psrunscript

env:
  packageName: react-page-navigator.sppkg

jobs:
  deploy:
    runs-on: windows-latest
    env:
      siteUrl: https://in8aakbh.sharepoint.com/sites/AppIndex

    steps:

    - name: Add Site Collection App Catalog
      uses: aakashbhardwaj619/action-pnp-powershell-runscript@master
      with:
        SHAREPOINT_SITE_URL: ${{ env.siteUrl }}
        ADMIN_USERNAME: ${{ secrets.adminUsername }}
        ADMIN_PASSWORD: ${{ secrets.adminPassword }}
        PNP_POWERSHELL_SCRIPT_PATH: './scripts/DeployPackage.sh'
