name: SPFx CI CD

on:
  push:
    branches:
      - githubactions

env:
  packageName: react-page-navigator.sppkg

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.2
      with:
        node-version: 10.x

    - name: Install dependencies
      run: npm ci
    
    - name: Build solution
      run: gulp build
      
    - name: Bundle and package
      run: |
        gulp bundle --ship
        gulp package-solution --ship
        
    - name: Upload Build Package
      uses: actions/upload-artifact@v2
      with:
        name: packageFile
        path: sharepoint/solution/${{ env.packageName }}

    - name: Deploy PnP PowerShell
      id: PnPPowerShell
      uses: aakashbhardwaj619/pnp-powershell-javascript-action@master
      with:
        SHAREPOINT_SITE_URL: 'https://in8aakbh.sharepoint.com/sites/AppIndex'
        ADMIN_USERNAME: ${{ secrets.adminUsername }}
        ADMIN_PASSWORD: ${{ secrets.adminPassword }}
        APP_FILE_PATH: packageFile/${{ env.packageName }}
        OVERWRITE: true
        SCOPE: Site
